<div class="intoro">
            <h1>診断結果</h1>
            <p>以下の参考書と相性がいいことがわかりました！</p>
        </div>
        <div class="tweet-container">
            <div class="tweet">
                <% if @common.question == "00000" %>
                <h3>河合塾 共通テスト総合問題集(80%)</h3>
                <p>柑橘系の代表的な原料</p>
                <p>清涼感があり、爽やかな印象</p>

                <% elsif @common.question == "00001" %>
                <h3>河合塾 共通テスト総合問題集(100%)</h3>
                <p>柑橘系の代表的な原料</p>
                <p>清涼感があり、爽やかな印象</p>

                <% elsif @common.question == "00010" %>
                <h3>河合塾 共通テスト総合問題集(60%)</h3>
                <p>柑橘系の代表的な原料</p>
                <p>清涼感があり、爽やかな印象</p>
                <h3>英語[リーディング]の点数が面白いほどとれる本(60%)</h3>
                <p>柑橘系の代表的な原料</p>
                <p>清涼感があり、爽やかな印象</p>

                <% elsif @common.question == "00011" %>
                <h3>超入門英文解釈の技術60(60%), 英文読解入門 基本はここだ！(60%)</h3>
                <p>柑橘系の代表的な原料</p>
                <p>清涼感があり、爽やかな印象</p>

                <% elsif @common.question == "00100" %>
                <h3>超入門英文解釈の技術60(80%), 英文読解入門 基本はここだ！(80％)</h3>
                <p>柑橘系の代表的な原料</p>
                <p>清涼感があり、爽やかな印象</p>

                <% elsif @common.question == "00101" %>
                <h3>レモン</h3>
                <p>超入門英文解釈の技術60(100%)</p>
                <p>清涼感があり、爽やかな印象</p>

                <% elsif @common.question == "00110" %>
                <h3>レモン</h3>
                <p>英文読解入門 基本はここだ！(100%)</p>
                <p>清涼感があり、爽やかな印象</p>

                <% elsif @common.question == "00111" %>
                <h3>レモン</h3>
                <p>超入門英文解釈の技術60(80%), 英文読解入門 基本はここだ！(80％)</p>
                <p>清涼感があり、爽やかな印象</p>

                <% elsif @common.question == "01000" %>
                <h3>はじめの英文読解ドリル(80%), 高校英文読解をひとつひとつわかりやすく(80％)</h3>
                <p>柑橘系の代表的な原料</p>
                <p>清涼感があり、爽やかな印象</p>

                <% elsif @common.question == "01001" %>
                <h3>高校英文読解をひとつひとつわかりやすく(60%), 超入門英文解釈の技術60(60%)</h3>
                <p>柑橘系の代表的な原料</p>
                <p>清涼感があり、爽やかな印象</p>

                <% elsif @common.question == "01010" %>
                <h3>動画でわかる英文法(読解入門編)(80%)</h3>
                <p>柑橘系の代表的な原料</p>
                <p>清涼感があり、爽やかな印象</p>

                <% elsif @common.question == "01011" %>
                <h3>基礎からの英文解釈クラシック(60%), 動画でわかる英文法(読解入門編)(60%)</h3>
                <p>柑橘系の代表的な原料</p>
                <p>清涼感があり、爽やかな印象</p>

                <% elsif @common.question == "01100" %>
                <h3>はじめの英文読解ドリル(100%)</h3>
                <p>柑橘系の代表的な原料</p>
                <p>清涼感があり、爽やかな印象</p>

                <% elsif @common.question == "01101" %>
                <h3>超入門英文解釈の技術60(80%), はじめの英文読解ドリル(80%)</h3>
                <p>柑橘系の代表的な原料</p>
                <p>清涼感があり、爽やかな印象</p>

                <% elsif @common.question == "01110" %>
                <h3>はじめの英文読解ドリル(80%), 英文読解入門 基本はここだ！(80％)</h3>
                <p>柑橘系の代表的な原料</p>
                <p>清涼感があり、爽やかな印象</p>

                <% elsif @common.question == "01111" %>
                <h3>基礎からの英文解釈クラシック(80%)</h3>
                <p>柑橘系の代表的な原料</p>
                <p>清涼感があり、爽やかな印象</p>

                <% elsif @common.question == "10000" %>
                <h3>高校英文読解をひとつひとつわかりやすく(80％)</h3>
                <p>柑橘系の代表的な原料</p>
                <p>清涼感があり、爽やかな印象</p>

                <% elsif @common.question == "10001" %>
                <h3>超入門英文解釈の技術60(60%), 高校英文読解をひとつひとつわかりやすく(60%)</h3>
                <p>英文解釈の参考書の王道！</p>
                <p>清涼感があり、爽やかな印象</p>

                <% elsif @common.question == "10010" %>
                <h3>動画でわかる英文法(読解入門編)(80%)</h3>
                <p>柑橘系の代表的な原料</p>
                <p>清涼感があり、爽やかな印象</p>

                <% elsif @common.question == "10011" %>
                <h3>基礎からの英文解釈クラシック(60%), 動画でわかる英文法(読解入門編)(60%)</h3>
                <p>柑橘系の代表的な原料</p>
                <p>清涼感があり、爽やかな印象</p>

                <% elsif @common.question == "10100" %>
                <h3>はじめの英文読解ドリル(80%)</h3>
                <p>柑橘系の代表的な原料</p>
                <p>清涼感があり、爽やかな印象</p>

                <% elsif @common.question == "10101" %>
                <h3>超入門英文解釈の技術60(80%)</h3>
                <p>柑橘系の代表的な原料</p>
                <p>清涼感があり、爽やかな印象</p>

                <% elsif @common.question == "10110" %>
                <h3>英文読解入門 基本はここだ！(80％)</h3>
                <p>柑橘系の代表的な原料</p>
                <p>清涼感があり、爽やかな印象</p>

                <% elsif @common.question == "10111" %>
                <h3>基礎からの英文解釈クラシック(80%)</h3>
                <p>柑橘系の代表的な原料</p>
                <p>清涼感があり、爽やかな印象</p>

                <% elsif @common.question == "11000" %>
                <h3>高校英文読解をひとつひとつわかりやすく(100%)</h3>
                <p>柑橘系の代表的な原料</p>
                <p>清涼感があり、爽やかな印象</p>

                <% elsif @common.question == "11001" %>
                <h3>高校英文読解をひとつひとつわかりやすく(80%)</h3>
                <p>柑橘系の代表的な原料</p>
                <p>清涼感があり、爽やかな印象</p>

                <% elsif @common.question == "11010" %>
                <h3>動画でわかる英文法(読解入門編)(100%)</h3>
                <p>柑橘系の代表的な原料</p>
                <p>清涼感があり、爽やかな印象</p>

                <% elsif @common.question == "11011" %>
                <h3>基礎からの英文解釈クラシック(80%), 動画でわかる英文法(読解入門編)(80%)</h3>
                <p>柑橘系の代表的な原料</p>
                <p>清涼感があり、爽やかな印象</p>

                <% elsif @common.question == "11100" %>
                <h3>はじめの英文読解ドリル(80%)</h3>
                <p>柑橘系の代表的な原料</p>
                <p>清涼感があり、爽やかな印象</p>
                <h3>高校英文読解をひとつひとつわかりやすく(80％)</h3>
                <p>柑橘系の代表的な原料</p>
                <p>清涼感があり、爽やかな印象</p>

                <% elsif @common.question == "11101" %>
                <h3>基礎からの英文解釈クラシック(80%)</h3>
                <p>柑橘系の代表的な原料</p>
                <p>清涼感があり、爽やかな印象</p>

                <% elsif @common.question == "11110" %>
                <h3>基礎からの英文解釈クラシック(80%), 動画でわかる英文法(読解入門編)(80%)</h3>
                <p>柑橘系の代表的な原料</p>
                <p>清涼感があり、爽やかな印象</p>

                <% elsif @common.question == "11111" %>
                <h3>基礎からの英文解釈クラシック(100%)</h3>
                <p>難関大志望者向けの新しい参考書</p>
                <p>難関大志望者必見！構文解析に必要な文法事項を一気に学べるよ！</p>

                <% end %>

        </div>
</div>